<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>


<body>
	<h1>MIIKEY</h1>
	<div class="is">
		<div id="left-i"><h3>I</h3></div>
		<div id="right-i"><h3>I</h3></div>
		<div class="white-line"></div>
		<div class="photos-container">
			<div class="pic" id="m1"></div>
			<div class="pic" id="m2"></div>
			<div class="pic" id="m3"></div>
			<div class="pic" id="m4"></div>
			<div class="pic" id="m5"></div>
			<div class="pic" id="m6"></div>
		</div>
	</div>
</body>


